:root{
    --special-color:#18c895;
}
::selection{
    background-color: var(--special-color);
    color: whitesmoke;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 80px auto 80px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}
main{
    margin: 15px auto;
    width: 800px
}
#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}